.movieTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.movieSection {
  padding: 2rem 3rem;
}

.commentsSection {
  padding: 0rem 3rem;
}

.centeredVideo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goBackButton {
  padding: 1rem;
  background-color: #6c757d;
  border: none;
}

.goBackButton:hover {
  background-color: #d6d7d8;
}
