.filmMinature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding: 2rem 1rem;

  border-bottom: 1px solid blue;
}

.filmMinature:last-child {
  border-bottom: none;
}

.filmDescription {
  display: flex;
  flex-direction: column;

  max-width: 60%;

  padding-left: 1rem;
}

.descriptionLabel {
  font-weight: bold;
}

.descriptionLine {
  margin-bottom: 5px;
}
